<h3 class="center-align frama-purple-text">Modifier le contenu des modules de votre Framasite</h3>
<div style="margin: 30px">
	<div class="frama-purple white-text light-shadow" style="padding: 20px; border-radius: 10px">
		<h5 class="center-align">Editer un champs textuel</h5>
		<ul class="helpDiscoverUL">
			<li class="light-shadow row valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/content1_1.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">touch_app</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						<b>Cliquez directement sur le texte</b> que vous souhaitez modifier ou sur <b>le bouton d'edition en haut à droite de celui ci</b> pour ouvrir l'editeur de texte
					</p>
				</div>
			</li>
			<li class="light-shadow row no-margin valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/content1_2.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">edit</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						Vous pouvez ensuite <b>rédiger votre contenu</b> et le mettre en page grâce aux <b>boutons de la barre d'édition </b>
					</p>
				</div>
			</li>
			<li class="light-shadow row valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/content0_1.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">save</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						Pensez à <b>sauvegarder</b> vos modifications en <b>cliquant sur le bouton sauvegarder</b> en haut à droite pour que vos modifications soient prises en compte
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div style="margin: 30px">
	<div class="frama-purple white-text light-shadow" style="padding: 20px; border-radius: 10px">
		<h5 class="center-align">Modifier une image</h5>
		<ul class="helpDiscoverUL">
			<li class="light-shadow row valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/content2_1.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">touch_app</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						<b>Cliquez sur le bouton choisir l'image</b> pour ouvrir votre librairie d'image
					</p>
				</div>
			</li>
			<li class="light-shadow row no-margin valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/content2_2.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">file_upload</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						uploadez votre image grâce à bouton "+"
					</p>
				</div>
			</li>
			<li class="light-shadow row valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/content2_3.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">touch_app</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						Choisissez enfin votre image en <b>cliquant dessus</b>
					</p>
				</div>
			</li>
			<li class="light-shadow row valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/content0_1.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">save</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						Pensez à <b>sauvegarder</b> vos modifications en <b>cliquant sur le bouton sauvegarder</b> en haut à droite pour que vos modifications soient prises en compte
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>