<h3 class="center-align frama-purple-text">Editer la structure de votre Framasite</h3>
<div style="margin: 30px">
	<div class="frama-purple white-text light-shadow" style="padding: 20px; border-radius: 10px">
		<ul class="helpDiscoverUL">
			<li class="light-shadowrow valign-wrapper">
				<div class="col s3 ">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">warning</i>
					</div>
				</div>
				<div class="col m9">
					<p>
						Vous devez<b> avoir sauvegardé vos changements</b> avant de modifier la structure du site.
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div style="margin: 30px">
	<div class="frama-purple white-text light-shadow" style="padding: 20px; border-radius: 10px">
		<h5 class="center-align">Ajouter une section</h5>
		<ul class="helpDiscoverUL">
			<li class="light-shadow row valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/structure1_1.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">touch_app</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						Cliquez sur <b>Ajouter une section</b> à l'endroit ou vous souhaitez la voir s'afficher
						pour ouvrir la fenetre de selection de module.
					</p>
				</div>
			</li>
			<li class="light-shadow row no-margin valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/structure1_2.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">dashboard</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						<b>Cliquez ensuite sur le module de votre choix</b>, il sera alors inséré à l'endroit où
						vous
						l'avez voulu.
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div style="margin: 30px">
	<div class="frama-purple white-text light-shadow" style="padding: 20px; border-radius: 10px">
		<h5 class="center-align">Remonter, redescendre ou supprimer une section</h5>
		<ul class="helpDiscoverUL">
			<li class="light-shadow row valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/structure2_1.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">touch_app</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						Cliquer sur <b>Options du module</b> en bas à droite de chaque module pour ouvrir son panneau
						d'option
					</p>
				</div>
			</li>
			<li class="light-shadow row no-margin valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/structure2_2.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">touch_app</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						<b>Cliquer ensuite sur la croix, la flèche montante ou la flèche descendante</b> pour supprimer,
						remonter, redescendre le module dans votre Framasite
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div style="margin: 30px">
	<div class="frama-purple white-text  light-shadow" style="padding: 20px; border-radius: 10px">
		<h5 class="center-align">Ajouter un lien rapide dans le menu</h5>
		<ul class="helpDiscoverUL">
			<li class="light-shadow row valign-wrapper">
				<div class="col s3 ">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">help</i>
					</div>
				</div>
				<div class="col s9 ">
					<p>
						Le menu permet d'avoir un accès rapide au différentes parties de votre Framasite, il est très
						utile lorsque vous commencez à utiliser un grand nombre de section
					</p>
				</div>
			</li>
			<li class="light-shadow row valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/structure2_2.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">touch_app</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						Cliquer sur <b>Ajouter un lien dans le menu</b> dans la barre d'options du module
					</p>
				</div>
			</li>
			<li class="light-shadow row no-margin valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/structure2_3.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">edit</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						<b>écrivez le nom qui sera affiché dans le menu</b>
					</p>
				</div>
			</li>
			<li class="light-shadow row valign-wrapper" style="margin: 10px 0">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/structure2_4.png" alt="">
				</div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">touch_app</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						vous pourrez ensuite modifier votre menu <b>en cliquant sur les boutons</b>qui s'affichent en le
						survolant avec la souris.
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
