<div class="second-background">
	<div class="container module ">
		<div class="section" style="padding-top: 50px !important;padding-bottom: 50px !important;">
			<div class="row  valign-wrapper no-margin relative">
				<div class="col s12  headbandShowOnScroll relative" style=" left: +2000px" id="headbandShowOnScroll-{{@id}}">
					<div class="  second-color title-font editable center-align" id="moduleValue-title">
						{{@fields['title']['value'] | raw}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
