<div class="second-background">
	<div class="container module " >
		<div class="section" style="padding-top: 60px !important;padding-bottom: 60px !important;">
			<div class="row valign-wrapper no-margin">
				<div class="col s12 m5 relative">
					<div class="main-background light-shadow showOnScroll relative" style="border-radius: 10px; padding: 30px; left: -1500px" id="showOnScroll-{{@id}}">
						<div class="  second-color main-font editable center-align" id="moduleValue-focus">
							{{@fields['focus']['value'] | raw}}
						</div>
					</div>

				</div>
				<div class="col s12 m7">
					<div class="second-color main-font editable" id="moduleValue-text" style="text-align: justify">
						{{@fields['text']['value'] | raw}}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

