<div class="module main-background">
	<div class="container ">
		<div class="section" style="padding-top: 40px !important;padding-bottom: 40px !important;">
			<div class="row ">

				<div class="col  s12 xl5" style="padding: 0 20px !important;">
					<div class="row">
						<div class="col s12  second-color title-font editable " id="moduleValue-title">
							{{@fields['title']['value'] | raw}}
						</div>
					</div>
					<div class="row">
						<div class="col s12  main-color main-font editable" id="moduleValue-content" style="text-align: justify">
							{{@fields['content']['value'] | raw}}
						</div>
					</div>
				</div>
				<div class="col s12 l8 xl7   relative" style="padding: 0 20px">
					<div class="light-shadow second-background relative " style="border-radius: 5px; padding: 20px 20px 15px 20px;" >
						<div class="row no-margin center-align" id="caroutextImgFocus-{{@id}}" >
							<img src="{{@fields['imgUrl0']['value']}}" class="responsive-img" id="moduleValue-imgUrl1" alt="{{@fields['imgUrl1']['value'] | imgAlt}}">

						</div>
						<div class="row no-margin">
							<div class="flexImagesContainer hidden" id="flexImagesContainer-{{@id}}">
								<repeat group="{{ [0,1,2,3] }}" value="{{ @index }}">
									<div class="relative zoomIn">
										<check if="{{ @isAdminPage }}">
											<a class="btn-floating waves-effect waves-light lightButton absolute tooltipped moduleBtn editCaroutextImage" data-position="right"
											   data-delay="250" data-tooltip="modifier l'image. Taille recommandée : 800x600px" id="editCaroutextImage-{{@id}}-{{@index}}" style=" right: -5px; top: -5px; z-index: 1000">
												<i class="material-icons">image</i>
											</a>
										</check>

										<img src="{{@fields['imgUrl'.@index]['value']}}" class="caroutextImage " id="moduleValue-imgUrl{{@index}}" alt="{{@fields['imgUrl'.@index]['value'] | imgAlt}}">
									</div>

								</repeat>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

</div>
