<form class="col s12 m6 offset-m3" method="POST" action="signIn" >

	<div class="row" style="margin-top: 30px">
		<div class="input-field col s12">
			<input id="username" name="username" type="text" required class="validate grey-text text-darken-2" >
			<label class="grey-text text-darken-2" for="username">Nom d'utilisateur</label>
		</div>
		<div class="input-field col s12">
			<input id="password" name="password" type="password" required class="validate grey-text text-darken-2">
			<label class="grey-text text-darken-2" for="password">Mot de passe</label>
		</div>
		<div class="input-field col s12">
			<input id="repeatpassword" name="repeatPassword" type="password" required class="validate grey-text text-darken-2">
			<label class="grey-text text-darken-2" for="password">Répéter le mot de passe</label>
		</div>
	</div>
	<div class="row">
		<div class="col s12 center-align">
			<button type="submit" class="white-text btn-large frama-orange hover-frama-purple waves-effect waves-light btn" style="color: white !important;"><i style="color: white !important;" class="material-icons white-text right">verified_user</i>Créer mon Site</button>
		</div>
	</div>
</form>